[Desktop Entry]
Name=Zalo
Comment=Ứng dụng nhắn tin Zalo (Web)
Exec=google-chrome-stable --app=https://chat.zalo.me --class=Zalo
Icon=/opt/zalo/zalo.png
Terminal=false
Type=Application
Categories=Network;InstantMessaging;
StartupWMClass=Zalo
